.equation-editor-dd {
	.header {
		padding: 14px 20px;
	}
	.container {
		background-color: #F4F8F9;
		padding: 20px;
		border-radius: inherit;
	}
	.section {
		margin-bottom: 30px;
	}
	.formating-area {
		min-height: 150px;
		max-height: 300px;
		padding: 15px;
		box-sizing: border-box;
		overflow: auto;
		background-color: white;
	}
	.section.selectors {
		border: 1px solid #d5d4db;
		border-radius: 4px;
		overflow: hidden;
	}
	.section.preview .formating-area {
		border: 1px solid #d5d4db;
		border-radius: 4px;
	}
	.tabs {
		background-color: #E6EBEF;
	}
	.tab-btn {
		padding: 9px 20px;
		border-bottom: 1px solid #d5d4db;
		&.selected {
			border-bottom-color: transparent;
			background-color: white;
			border-right: 1px solid #d5d4db;
			&:hover {
				background-color: white;
				color: inherit;
			}
		}
		&:hover {
			color: #444;
			background-color: rgba(0, 0, 0, .1);
		}
	}
	.submit-btn {
		margin-top: 16px;
		padding: 10px 46px;
	}
	.title {
		margin-bottom: 6px;
	}
}