.patterns {
	padding: 15px 1px;
	padding-bottom: 7px;
}
.pattern-btn {
	flex-direction: column;
	margin: 0 21px;
	margin-bottom: 8px;
	&:hover {
		filter: sepia(100%) hue-rotate(190deg) saturate(500%);
	}
	&.selected {
		.shape {
			filter: sepia(100%) hue-rotate(190deg) saturate(500%);
		}
		.check-icon {
			display: initial;
		}
	}
}
.shape {
	position: relative;
	margin-bottom: 13px;
}
.shape.none {
	width: 47px;
	height: 47px;
	border: 1px solid;
	border-radius: 50%;
}
.check-icon {
	display: none;
	position: absolute;
	left: -6px;
	top: 2px;
}
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
@media (max-width: 960px) {
	.patterns {
		display: flex;
		flex-direction: column;
	}
}