.more-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px 8px 0 0;
}
.top {
	margin-right: 32px;
}
.colors, .sizes {
	display: flex;
	padding: 8px;
	button {
		margin: 0px 10px;
	}
}
.color {
	width: 20px;
	height: 20px;
}
.colors .selected {
	.color {
		width: 32px;
		height: 32px;
	}
}
.color, .size, .sizes .selected {
	border-radius: 50%;
}
.size {
	background-color: black;
}
.sizes {
	.selected {
		padding: 10px;
		border: 1px solid black;
		box-sizing: border-box;
		width: fit-content;
		height: fit-content;
	}
	button {
		min-width: 20px;
	}
}
.xxs {
	width: 2px;
	height: 2px;
}
.xs {
	width: 4px;
	height: 4px;
}
.s {
	width: 8px;
	height: 8px;
}
.md {
	width: 12px;
	height: 12px;
}
.lg {
	width: 16px;
	height: 16px;
}
.xlg {
	width: 20px;
	height: 20px;
}
.xxlg {
	width: 24px;
	height: 24px;
}
.xxxlg {
	width: 28px;
	height: 28px;
}
.black {
	background-color: black;
}
.red {
	background-color: #ff5252;
}
.orange {
	background-color: #ffbc02;
}
.green {
	background-color: #00c852;
}
.blue {
	background-color: #01b0ff;
}
.purple {
	background-color: #d401f9;
}
.brouwn {
	background-color: #8c6e63;
}
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
@media (max-width: 960px) {
	.typography-items {
		display: flex;
		.typography-item:last-child {
			margin-right: 25px;
		}
	}
	.colors, .sizes {
		flex-direction: column;
		button {
			margin: 0 6px;
			margin-bottom: 10px;
			min-height: 20px;
		}
	}
	.top {
		margin-right: unset;
	}
}