<template>
    <header class='root'>
        <a href="#" class="menu-toggle" v-if="$mq.tablet" v-on:click.stop="$emit('toggle-drawer')">
            <i class="fa fa-bars"></i>
        </a>
        <a class='logo' v-on:click.stop="$mq.phone && $emit('toggle-drawer')">
            <img src="@/assets/imgs/classumo-logo.png" />
        </a>

        <nav-items v-if="!$mq.tablet"></nav-items>
    </header>
</template>

<script>
    import NavItems from './NavItems';

    export default {
        components: {
            NavItems,
        },
    };
</script>

<style lang="scss" scoped>
    @import '../../assets/sass/classumo/header';
</style>
