<template>
    <div class="root">
        <ul class="menu">
            <li>
                <a href="#">Find a tutor</a>
            </li>
            <li>
                <a href="#">Subjects</a>
            </li>
            <li>
                <a href="#">How it works?</a>
            </li>
            <li>
                <a href="#">Prices</a>
            </li>
        </ul>

        <ul class="menu wing">
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a type="success" class='highlighted' round>Signup</a>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
    @import '../../assets/sass/classumo/nav-items';
</style>

