<template>
    <div class="root">
        <h2 class='title'>Student Signup</h2>

        <div class="stepper-root">
            <div class="steps-root">
                <el-steps direction="vertical" :active="activeStep">
                    <el-step :class="{ active: activeStep === 1 }"></el-step>
                    <el-step :class="{ active: activeStep === 2 }"></el-step>
                    <el-step :class="{ active: activeStep === 3 }"></el-step>
                    <el-step :class="{ active: activeStep === 4 }"></el-step>
                </el-steps>
            </div>


            <!-- Stepper Content (active step) -->
            <el-form :model="form" ref="form" label-position='top' label-width="120px">
            
                <!-- Step 1 -->
                <div v-if="activeStep === 1" class='step'>
                    <h4 class="step-title">Please enter your mobile number</h4>

                    <div class="step-content">
                        <el-form-item prop="mobile">
                            <div class='hor-form-item'>
                                <el-input v-model="form.mobile" placeholder="+971-50-1000001" autofocus></el-input>
                                <el-button type="primary" @click="submit('form')" class="flat">
                                    Next <i class="fa fa-arrow-right button-icon"></i>
                                </el-button>
                            </div>
                        </el-form-item>
                    </div>
                </div>


                <!-- Step 2 -->
                <div v-if="activeStep === 2" class='step'>
                    <h4 class="step-title">Please verify your mobile</h4>

                    <div class="step-content">
                        <el-form-item prop="code">
                            <div class='hor-form-item'>
                                <el-input v-model="form.code" placeholder="X X X X X X" autofocus></el-input>
                                <el-button type="primary" @click="submit('form')" class="flat">
                                    Next <i class="fa fa-arrow-right button-icon"></i>
                                </el-button>
                            </div>
                        </el-form-item>
                    </div>
                </div>


                <!-- Step 3 -->
                <div v-if="activeStep === 3" class='step'>
                    <h4 class="step-title">Please enter your personal information</h4>

                    <div class="step-content">
                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item label="First name" prop="fname">
                                    <el-input v-model="form.fname" placeholder="Komol" autofocus></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Last name" prop="lname">
                                    <el-input v-model="form.lname" placeholder="Kuchkarov"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="E-mail" prop="email">
                            <el-input v-model="form.email" placeholder="komolkuchkarov@gmail.com"></el-input>
                        </el-form-item>
                        
                        <el-form-item label="Current address" prop="current-address">
                            <el-input v-model="form.address" placeholder="Enter your address"></el-input>
                        </el-form-item>

                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item label="City" prop="city">
                                    <el-input v-model="form.city"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="State" prop="state">
                                    <el-input v-model="form.state"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row :gutter="10">
                            <el-col :span="12">
                                <el-form-item label="Country" prop="country">
                                    <el-input v-model="form.country"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="I am" prop="gender">
                                    <div class='hor-form-item'>
                                        <el-select v-model="form.gender" placeholder="Male / Female">
                                            <el-option label="Male" value="male"></el-option>
                                            <el-option label="Female" value="female"></el-option>
                                        </el-select>

                                        <el-button type="primary" @click="submit('form')" class="flat">
                                            Next <i class="fa fa-arrow-right button-icon"></i>
                                        </el-button>
                                    </div>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>
                </div>


                <!-- Step 4 -->
                <div v-if="activeStep === 4" class='step'>
                    <h4 class="step-title">Enter school information</h4>

                    <div class="step-content">
                        <el-form-item label="School name" prop="schoolName">
                            <el-input v-model="form.schoolName" placeholder="School name"></el-input>
                        </el-form-item>

                        <el-form-item label="Level" prop="level">
                            <div class='hor-form-item'>
                                <el-select v-model="form.level" placeholder="Grade-1 / O-Level / A-Level">
                                    <el-option label="A-Level" value="a"></el-option>
                                    <el-option label="B-Level" value="b"></el-option>
                                    <el-option label="C-Level" value="c"></el-option>
                                </el-select>

                                <el-button type="primary" @click="submit('form')" class="flat">
                                    Submit <i class="fa fa-arrow-right button-icon"></i>
                                </el-button>
                            </div>
                        </el-form-item>
                    </div>
                </div>


            </el-form>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        activeStep: 1,
        form: {
          mobile: '',
          code: '',
          fname: '',
          lname: '',
          email: '',
          address: '',
          city: '',
          state: '',
          country: '',
          gender: '',
          schoolName: '',
          level: '',
        },
      };
    },
    methods: {
      submit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            
            if (this.activeStep >= 4) {
                this.$emit('success');
            } else {
                this.activeStep += 1;
            }

          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../assets/sass/classumo/stepper';
</style>


<style lang="scss">
    /* ****
     *  Hack to apply major styles for all labels 
     * *** 
     */
    
    .el-form--label-top .el-form-item__label {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 0;
    }

    .el-step__icon.is-text {
        background: #FFF;
        width: 37px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #2ba0ff;

        .el-step__icon-inner {
            color: #FFF;
            background: #2ba0ff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            font-size: 18px;
        }

        .el-step.is-vertical .el-step__line { 
            left: 18px;
            background-color: #000;
        }

        .el-step.is-vertical .el-step__head {
            width: 83px;
        }
    }
    .el-step__head.is-process, .el-step__head.is-wait {
        .el-step__icon.is-text {
            border-color: transparent;
            background-color: transparent;

            .el-step__icon-inner {
                background-color: #dfe0e8;
                color: #FFF;
                font-weight: bold;
            }
        }
    }
    div.el-step.is-vertical {
        &:last-child {
            margin-top: -1px;
        }

        .el-step__head.is-finish {
            .el-step__line {
                background-color: #409EFF;
            }
        }

        .el-step__head {
            width: 38px;

            .el-step__line {
                left: 18px;
            }
        }

        .el-step__main {
            padding-left: 45px;
        }
    }

    @media screen and (max-width: 1025px) {
    div.el-step.is-vertical {
        .el-step__main {
            padding-left: 0;
        }
    }
}
</style>
