<template>
    <div class='root'>
        <i class='el-icon-circle-check-outline icon'></i>
        <h1 class='heading'>Congratulation, Hasan</h1>
        <p class='subheading'>
          Your signup has been successfully.  
        </p>
        <p class='note'>
            We have sent you an email confirmation, Please verify your email address.
        </p>

        <el-button type="primary" round>Find your tutor</el-button>
    </div>
</template>

<style lang="scss" scoped>
    @import '../../assets/sass/classumo/success-box';
</style>
