.root {
    background-color: #4386fa;
    min-height: 63px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin-top: 1px;

    img {
        height: 35px;
    }
}

.menu-toggle {
    color: #FFF;
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

@media screen and (max-width: 1025px) {
    .root {
        justify-content: flex-start;
        padding: 0 20px;

        .logo {
            flex: 1;
            text-align: center;
            margin-left: -42px;

            img {
                display: inline;
            }
        }
    }
}
