.root {
    display: flex;
    align-items: center;

    .menu {
        display: flex;
        align-items: center;

        li {
            & > a {
                color: #FFF;
                font-weight: bold;
                display: inline-block;
                opacity: 1;
                padding-left: 20px;
                margin-left: 20px;
                font-size: 18px;

                &:hover {
                    opacity: 0.8;
                }

                &.highlighted {
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #11d911;
                    padding-right: 20px;
                    border-radius: 40px;
                }
            }
        }

        &.wing {
            margin-left: 40px;
        }
    }
}

@media screen and (max-width: 1025px) {
    .root {
        background-color: #222;
        display: block;
        height: 100vh;  

        .menu {
            display: block;

            &.wing {
                margin-left: 0;
            }

            li {
                display: flex;
                a {
                    margin-left: 0;
                    flex: 1;
                    color: #b9b9b9;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(7, 7, 7, 0.13);

                    &.highlighted {
                        height: auto;
                        background-color: transparent;
                        display: inline-block;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}