.root {
    margin-top: 35px;
    margin-left: 45px;
}

.stepper-root {
    display: flex;
    margin-top: 40px;
    min-height: 300px;

    .step {
        margin-left: 15px;

        .step-title {
            margin-top: 0;
            color: #7a7c8c;
            margin-top: 3px;
            margin-bottom: 48px;
        }
    }
}

.hor-form-item {
    display: flex;
}

.flat {
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
}

.button-icon {
    margin-left: 10px;
}

.title {
    margin-left: 95px;
    color: #4386fa;
}

@media screen and (max-width: 1025px) {
    .root {
        margin-left: 0;
    }
}