.root {
    text-align: center;
    margin-top: 80px;
    color: #3e4159;
}

.icon {
    font-size: 100px;
    color: #11d911;
}

.subheading {
    font-size: 22px;
    margin-bottom: 20px;
}

.note {
    margin-bottom: 50px;
}