<template>
    <vue-drawer-layout ref="drawerLayout" @mask-click="handleMaskClick" :drawer-width="250" :enable="$mq.tablet" class='drawer'>
        <div v-if="$mq.tablet" class="drawer" slot="drawer">
            <nav-items></nav-items>
        </div>
        <div class="content" slot="content">
            <app-header @toggle-drawer="handleOpenDrawer"></app-header>

            <el-main>
                <stepper v-if="!success" @success="handleSuccess"></stepper>
                <success-box v-if="success"></success-box>
            </el-main>
        </div>
    </vue-drawer-layout>
</template>

<script>
    import AppHeader from '@/components/classumo/Header';
    import NavItems from '@/components/classumo/NavItems';
    import Stepper from '@/components/classumo/Stepper';
    import SuccessBox from '@/components/classumo/SuccessBox';

    export default {
        data: function() {
            return {
                success: false,
            };
        },
        components: {
            AppHeader,
            NavItems,
            Stepper,
            SuccessBox,
        },
        methods: {
            handleMaskClick() {
                this.$refs.drawerLayout.toggle(false);
            },
            handleOpenDrawer() {
                this.$refs.drawerLayout.toggle(true);
            },
            handleSuccess() {
                this.success = true;
            }
        }
    };
</script>

<style lang="css">
    .drawer .content-wrap { overflow: scroll };
</style>

