<template>
	<div class="session-view">
		<SessionNavbar></SessionNavbar>
		<div class="wrapper">
			<SideToolbar></SideToolbar>
			<div class="wrapper__layout1">
				<div class="wrapper__layout2">
					<div class="wrapper__layout3"></div>
					<SessionController></SessionController>
				</div>
				<Messanger></Messanger>
			</div>
		</div>
	</div>
</template>

<script>
	import SessionNavbar from '@/components/SessionNavbar';
	import SideToolbar from '@/components/SideToolbar';
	import Messanger from '@/components/Messanger';
	import SessionController from '@/components/SessionController';
	export default {
		components: {
			SessionNavbar,
			SideToolbar,
			Messanger,
			SessionController,
		},
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/session';
</style>
