<template>
	<div class="tutor-signup_view">
		<Navbar  :class="{'traped' : active < lastIndex}"></Navbar>
		<SignupHeader v-if="active !== lastIndex">
			<template slot="headerTitle">Tutor Sign up</template>
			<Stepper slot="headerStepper" :active="active"></Stepper>
		</SignupHeader>
		<div class="content">
			<div>
				<component :is="steps[active]"></component>
				<FormActions @next="next" @prev="prev" :active="active" :steps="steps" v-if="active !== lastIndex"></FormActions>
			</div>
		</div>
		<Footer></Footer>
		<el-dialog :visible.sync="mobileVerficationDialog" width="30%">
			<MobileVerficationDialog></MobileVerficationDialog>
			<span slot="footer">
				<el-button @click="mobileVerficationDialog = false" size="medium">Cancel</el-button>
				<el-button type="primary" @click="handleValidConfirmation" size="medium">Confirm</el-button>
			</span>
		</el-dialog>
	</div>
</template>

<script>
	import Navbar from '@/components/Navbar';
	import SignupHeader from '@/components/SignupHeader';
	import Footer from '@/components/Footer';
	import Stepper from '@/components/Stepper';
	import FormActions from '@/components/FormActions';
	import PersonalDetail from '@/components/PersonalDetail';
	import Qualifications from '@/components/Qualifications';
	import TutoringSubjects from '@/components/TutoringSubjects';
	import GetPaid from '@/components/GetPaid';
	import Congratulation from '@/components/Congratulation';
	import MobileVerficationDialog from '@/components/MobileVerficationDialog';
	export default {
		components: {
			Navbar,
			SignupHeader,
			Footer,
			PersonalDetail,
			Qualifications,
			TutoringSubjects,
			GetPaid,
			Stepper,
			FormActions,
			MobileVerficationDialog,
			Congratulation,
		},
		data: () => ({
			steps: ['personal-detail' , 'qualifications' , 'tutoring-subjects' , 'get-paid', 'Congratulation'],
			active: 0,
			mobileVerficationDialog: false,
		}),
		computed: {
			lastIndex() {
				return this.steps.length - 1;
			}
		},
		methods: {
			next(){
				this.active == 0 ?  this.mobileVerficationDialog = true : this.active++;
			},
			prev(){
				this.active--;
			},
			handleValidConfirmation(){
				this.mobileVerficationDialog = false;
				this.active++;
			},
		},
	}
</script>

<style lang="scss">
@import '../assets/sass/tutor-signup';
</style>