<template>
	<div class="chat-container">
		<div class="messages-container">
			<div class="scrollbar-child">
				<div class="messages">
					<div class="message owner">
						<span class="avatar"></span>
						<span class="text-container">
							<i class="fas fa-caret-left fa-2x arrow"></i>
							<span class="name">Shahin:</span>
							<span class="text">it some message</span>
						</span>
					</div>
					<div class="message guest" v-for="message in messages">
						<span class="text-container">
							<i class="fas fa-caret-right fa-2x arrow"></i>
							<span class="name">Shahin:</span>
							<span class="text">{{message}}</span>
						</span>
						<span class="avatar"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="messages-constructor">
			<button class="imo-btn"><img src="@/assets/icons/imo.svg"></button>
			<textarea placeholder="Enter message here" class="input" @keydown.enter.prevent="send" v-model="message"></textarea>
			<button class="submit-btn" @click="send">Send</button>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			message: '',
			messages: []
		}),
		methods: {
			send(){
				if (this.message) {
					this.messages.push(this.message)
					this.message = ''
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/chat';
</style>