<template>
	<div class="congratulation">
		<span class="congratulation__icon"><i class="far fa-check-circle"></i></span>
		<div class="congratulation__m-heading"><span class="space">Congratulation,</span><span>Hassan</span></div>
		<div class="congratulation__s-heading">Your signing up has been successful</div>
		<div class="congratulation__details">We have sent you an email conformation. Please verify your email address.</div>
	</div>
</template>

<style lang="scss">
.congratulation {
	text-align: center;
	.space {
		margin-right: 6px;
	}
}
.congratulation__icon {
	font-size: 80px;
	color: #2BFF5C;
	margin-top: 100px;
	margin-bottom: 50px;
}
.congratulation__m-heading {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 40px;
}
.congratulation__s-heading {
	font-size: 1.6rem;
	margin-bottom: 16px;
}
</style>