<template>
	<div class="dropdown">
		<slot></slot>
		<div>
			<i class="fas fa-caret-up fa-lg arrow up" v-if="arrow == 'up'"></i>
			<i class="fas fa-caret-down fa-lg arrow down" v-if="arrow == 'down'"></i>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			arrow: {
				default: 'up'
			}
		}
	}
</script>

<style lang="scss">
@import '../assets/sass/dropdown';
</style>