<template>
	<div class="footer">
		<div class="footer__elem1">
			<ul class="footer__lists">
				<li class="footer__list" v-for="list in lists">
					<span class="footer__list__title">{{list.title}}</span>
					<ul class="footer__list__links">
						<li class="footer__list__links__item" v-for="link in list.links"><a href="" class="footer__link">{{link}}</a></li>
					</ul>
				</li>
			</ul>
			<hr class="footer__break">
			<div class="footer__bottom">
				<span class="footer__copyright"><i class="footer__copright__icon far fa-copyright"></i><span>2018 Classumo</span></span>
				<ul class="footer__bottom__links">
					<li class="footer__bottom__links__item" v-for="link in bottomLinks"><a href="" class="footer__link">{{link}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			lists: [
			{
				title: 'About us',
				links: ['Find a tutor', 'How it workd', 'Prices', 'More', 'Become a tutor']
			},
			{
				title: 'Learn',
				links: ['Find a private tutor', 'Sitemap', 'Affiliate program', 'Referral program', 'Become a tutor']
			},
			{
				title: 'Support',
				links: ['Need any help?', 'support@classumo.com']
			},
			{
				title: 'Contacts',
				links: ['1371 Beacon Street,', 'Suite 301, Brookline MA, 02446']
			},
			],
			bottomLinks: ['Teams of Service', 'Privacy Policy', 'Coolie Policy', 'Refund Policy']
		}),
		
	}
</script>

<style lang="scss">
@import '../assets/sass/footer';
</style>