<template>
	<el-row type="flex" justify="space-between" class="form-actions">
		<el-button size="medium" class="back-btn" @click="$emit('prev')" :disabled="active == 0">Back</el-button>
		<el-button size="medium" type="primary" @click="$emit('next')">Continue</el-button>
	</el-row>
</template>

<script>
	export default {
		props: ['active']
	}
</script>

<style scoped lang="scss">
.el-row.form-actions {
	margin-top: 60px;
}
.back-btn {
	color: #2B9EFF;
	border: 1px solid;
	&.el-button.is-disabled{
		color: #c0c4cc;
	}
}
</style>