<template>
	<el-form label-position="top" class="get-paid">
		<div class="section">
			<div class="section-title">In order to receive your earnings, please enter your bank account information</div>
			<div class="section-description bold">Bank Transfer:</div>
			<el-row :gutter="20">
				<el-col :span="12" >
					<el-form-item label="Account Holder">
						<el-input placeholder="IB"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="Bank Name">
						<el-input placeholder="International Bank"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="Account number">
						<el-input placeholder="XXXXXXXXXXXXXX"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="IBAN ( What is IBAN? )">
						<el-input placeholder="1152"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="Nationality">
						<el-input placeholder="English"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
		</div>
		<hr class="spacer">
		<div class="section">
			<div class="section-description">Alternatively, you can also receive your earnings through Paypal</div>
			<div class="section-description bold">Paypal:</div>
			<el-row :gutter="20">
				<el-col :sm="12">
					<el-form-item label="Your paypal email address">
						<el-input placeholder="XXXXXXXXXXX-325"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="24">
					<el-form-item label="Billing address">
						<el-input placeholder="Enter you address"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="City">
						<el-input placeholder="Moscow"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="Zip code">
						<el-input placeholder="22314 "></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="State">
						<el-input placeholder="Karolina"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="12">
					<el-form-item label="Country">
						<el-input placeholder="Russia"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
		</div>
	</el-form>
</template>

<style>
.get-paid .bold {
	font-weight: bold;
	margin-top: 30px;
}
</style>

<script>
	export default {
		data: () => ({
			gender: ''
		})
	}
</script>