<template>
	<div class="group-container">
		<div class="scollbar-child">
			<div class="group">
				<div class="group-member" v-for="i in 8">
					<span class="member-cover"></span>
					<button class="btn voice"><img src="@/assets/icons/mic.svg"></button>
					<button class="btn video"><img src="@/assets/icons/video.svg"></button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@import '../assets/sass/group';
</style>