<template>
	<div class="messanger-container" :class="{expanded}" v-if="messanger">
		<div class="video-view">
			<button class="messanger-expand-btn" @click="expand"><img src="@/assets/icons/fullscreen.png"></button>
			<div class="primary"></div>
			<div class="secondary"></div>
		</div>
		<div class="col-2">
			<div class="calls-controller">
				<span class="item-controller">
					<button class="controller-btn mic" @click="toggle('slider1')">
						<img v-if="slider1" src="@/assets/icons/mic.svg">
						<img v-else src="@/assets/icons/mic-off.svg">
					</button>
					<el-slider v-model="slider1" input-size="mini" class="slider"></el-slider>
				</span>
				<span class="item-controller">
					<button class="controller-btn sound" @click="toggle('slider2')">
						<img v-if="slider2" src="@/assets/icons/sound.svg">
						<img v-else src="@/assets/icons/sound-off.svg">
					</button>
					<el-slider v-model="slider2" input-size="mini" class="slider"></el-slider>
				</span>
				<span>
					<button class="controller-btn" @click="video = !video">
						<img v-if="video" src="@/assets/icons/video.svg">
						<img v-else src="@/assets/icons/video-off.svg">
					</button>
				</span>
			</div>
			<component :is="tab"></component>
			<div class="messanger-navigator">
				<button class="navigator-btn" @click="switchTab('group')" :class="isTab('group')"><img src="@/assets/icons/group.svg"></button>
				<button class="navigator-btn" @click="switchTab('chat')" :class="isTab('chat')"><img src="@/assets/icons/chat-hover.svg"></button>
			</div>
		</div>
	</div>
</template>

<script>
	import Chat from '@/components/Chat';
	import Group from '@/components/Group';
	export default {
		components: {
			Chat,
			Group
		},
		data: () => ({
			tab: 'chat',
			slider1: 50,
			slider2: 50,
			video: true,
			expanded: false
		}),
		mounted(){
			const medium = window.matchMedia("(max-width: 960px)")
			const handleBreakpoint = () => {
				medium.matches && (this.expanded = false)
			}
			handleBreakpoint()
			medium.addListener(handleBreakpoint)
		},
		computed: {
			messanger(){
				return this.$store.state.messanger
			}
		},
		methods: {
			isTab(tab){
				return (this.tab === tab) ? 'selected' : ''
			},
			switchTab(tab){
				this.tab = tab
			},
			expand(){
				this.expanded = ! this.expanded				
			},
			toggle(slider){
				this[slider] ? this[slider] = 0 : this[slider] = 50
			}
		}
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/messanger';
</style>