<template>
	<el-form label-position="top">
		<el-row :gutter="20">
			<el-col :span="24">
				<el-form-item label="Please enter your phone verfication number">
					<el-input placeholder="XXXXXX"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row>
			<span>Did not receive phone verification number? <a href="#">Send again</a></span>
		</el-row>
	</el-form>
</template>


<style scoped>
	a{
		text-decoration: underline;
		margin-left: 5px;
		color: #2B9EFF;
	}
</style>