<template>
	<div class="navbar">
		<span class="navbar__left">
			<button class="navbar__btn navbar__btn--brand"><img class="btn__icon" src="@/assets/imgs/logo.png"><span>CLASSUMO</span></button>
		</span>
		<div class="navbar__right">
			<span v-if="screenWidth > 990">
				<button class="navbar__btn">HOME</button>
				<button class="navbar__btn">FIND A TUTOR</button>
				<button class="navbar__btn">HOW IT WORKS ?</button>
				<button class="navbar__btn">PRICES</button>
				<button class="navbar__btn">MORE</button>
			</span>
			<el-dropdown v-if="screenWidth <= 990" trigger="click">
				<span class="navbar__btn">More<i class="el-icon-arrow-down el-icon--right"></i></span>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item>HOME</el-dropdown-item>
					<el-dropdown-item>FIND A TUTOR</el-dropdown-item>
					<el-dropdown-item>HOW IT WORKS ?</el-dropdown-item>
					<el-dropdown-item>PRICES</el-dropdown-item>
					<el-dropdown-item>MORE</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
			<button class="navbar__btn navbar__btn--raduis">BECOME A TUTOR</button>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			screenWidth: window.innerWidth,
		}),
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/navbar';
</style>