<template>
	<div class="nav-toolbar">
		<div class="toolbar__group">
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/upload.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/open.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/save.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/trash.svg"></button>
		</div>
		<div class="toolbar__group">
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/undo.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/redo.svg"></button>
		</div>
		<div class="toolbar__group">
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/select.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/crop.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/copy.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/cut.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/paste.svg"></button>
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('clear')"><img src="@/assets/icons/erase.svg"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('clear')" v-click-outside="closeDropdown">
					<button class="clear-page-btn">Clear page</button>
				</Dropdown>
			</span>
		</div>
		<div class="toolbar__group">
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('typography')"><img src="@/assets/icons/edit.svg"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('typography')" v-click-outside="closeDropdown"><TypographyDD></TypographyDD></Dropdown>
			</span>
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('brush')"><img src="@/assets/icons/marker.svg"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('brush')" v-click-outside="closeDropdown"><TypographyDD></TypographyDD></Dropdown>
			</span>
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('another')"><img src="@/assets/icons/text.svg"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('another')" v-click-outside="closeDropdown"><TypographyDD></TypographyDD></Dropdown>
			</span>
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('equation')"><img src="@/assets/icons/symbol.png"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('equation')" v-click-outside="closeDropdown"><EquationEditorDD></EquationEditorDD></Dropdown>
			</span>
		</div>
		<div class="toolbar__group">
			<span class="toolbar__item relative">
				<button class="toolbar__btn" @click="toggleDropdown('pattern')"><img src="@/assets/icons/grid-on.svg"><i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('pattern')" v-click-outside="closeDropdown"><PatternsDD></PatternsDD></Dropdown>
			</span>
		</div>
		<div class="toolbar__group">
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/print.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/record.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/share.svg"></button>
			<button class="toolbar__btn toolbar__item"><img src="@/assets/icons/youtube.svg"></button>
		</div>
	</div>
</template>

<script>
	import Dropdown from '@/components/Dropdown';
	import TypographyDD from '@/components/dropdowns/TypographyDD';
	import PatternsDD from '@/components/dropdowns/PatternsDD';
	import EquationEditorDD from '@/components/dropdowns/EquationEditorDD';
	import dropdown from '@/mixins/dropdown'
	export default {
		mixins: [dropdown],
		components: {
			Dropdown,
			TypographyDD,
			PatternsDD,
			EquationEditorDD,
		}
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/nav-toolbar';
</style>