<template>
	<div class="overlay">
		<slot></slot>
		<button class="exit-btn"><i class="fas fa-times-circle fa-2x"></i></button>
	</div>
</template>



<style lang="scss" scoped>
.overlay {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding-left: 20px;
	overflow: auto;
	background-color: rgba(0, 0, 0, .8);
	& > :first-child {
		margin: 60px auto;
		background-color: white;
		border-radius: 5px;
		border: solid 1px #d5d4db;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
	}
}
.exit-btn {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	color: white;
	margin-right: 20px;
	&:hover {
		color: darken(white, 50%);
	}
}
</style>