<template>
	<el-form label-position="top">
		<el-row :gutter="20">
			<el-col :span="12" >
				<el-form-item label="First Name">
					<el-input placeholder="Komol"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="Last Name">
					<el-input placeholder="Kuchkarov"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row :gutter="20">
			<el-col :span="12">
				<el-form-item label="Gender: Male / Female">
					<el-select v-model="gender" clearable placeholder="Male / Female">
						<el-option label="Male" value="Male"></el-option>
						<el-option label="Female" value="Female"></el-option>
					</el-select>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row :gutter="20">
			<el-col :span="12">
				<el-form-item label="Phone Number">
					<el-input placeholder="1-888-243-0000"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="12" :xs="24">
				<el-form-item label="Email">
					<el-input type="email" placeholder="komolkuchkarov@gmail.com"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row :gutter="20">
			<el-col :span="12" :xs="24">
				<el-form-item label="Current Adress">
					<el-input placeholder="Enter your adress"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row :gutter="20">
			<el-col :span="12">
				<el-form-item label="City">
					<el-input placeholder="Moscow"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="Zip code">
					<el-input placeholder="12345"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row :gutter="20">
			<el-col :span="12">
				<el-form-item label="State">
					<el-input placeholder="Kyrgyzstan"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="Country">
					<el-input placeholder="Russia"></el-input>
				</el-form-item>
			</el-col>
		</el-row>
	</el-form>
</template>

<script>
	export default {
		data: () => ({
			gender: ''
		})
	}
</script>

<style scoped>
.el-row {
	margin-top: 10px !important;
}
</style>