<template>
	<el-form label-position="top">
		<div class="section">
			<div class="section-title">Your Academic Qualifications</div>
			<div class="section-description">What was your top qualification ( Masters in Physics/Engineering )</div>
			<el-row :gutter="20">
				<el-col :md="10" :sm="12">
					<el-form-item label="Qualification">
						<el-input placeholder="Engineering Bachalori"></el-input>
					</el-form-item>
				</el-col>
				<el-col :md="10" :sm="12">
					<el-form-item label="Name of School / University">
						<el-input placeholder="Faculity of Engineering Cairo University"></el-input>
					</el-form-item>
				</el-col>
				<el-col :md="4" :span="25">
					<el-form-item label="Year">
						<el-date-picker type="year" placeholder="yyyy" v-model="date"></el-date-picker>
					</el-form-item>
				</el-col>
			</el-row>
			<button class="add-btn"><i class="btn__icon fas fa-plus-circle"></i><span class="btn__text">Add another qualification</span></button>
		</div>
		<hr class="spacer">
		<div class="section">
			<div class="section-title">What was your core subjects during your study that you want to highlight in your profile?</div>
			<el-row :gutter="20">
				<el-col :span="8" :xs="24">
					<el-form-item label="Subject">
						<el-input placeholder="Math, English…"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="8" :xs="24">
					<el-form-item label="Math, English…">
						<el-input placeholder="A+/A/B-"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<button class="add-btn"><i class="btn__icon fas fa-plus-circle"></i><span class="btn__text">Add another subject</span></button>
		</div>
		<hr class="spacer">
		<div class="section">
			<div class="section-title">Certificate</div>
			<div class="section-description">Please upload your certificate to become verified tutor. You can skip and upload later.</div>
			<el-upload action="https://jsonplaceholder.typicode.com/posts/" :auto-upload="false">
				<el-button class="upload-btn" size="small" type="primary">Click to upload</el-button>
				<div slot="tip" class="el-upload__tip">Only .pdf, .jpg and .png files. 4mb max file size</div>
			</el-upload>
		</div>
	</el-form>
</template>

<style>
.upload-btn {
	margin: 15px 0 !important;
}
.el-upload__tip{
	margin-bottom: 20px;
}
</style>

<script>
	export default {
		data: () => ({
			gender: '',
			date: ''
		}),
	}
</script>