<template>
	<div class="session-navbar">
		<div class="navbar__left">
			<button class="navbar__btn navbar__btn--brand"><strong>WEB</strong>NIER</button>
			<NavToolbar></NavToolbar>
		</div>
		<div class="navbar__right">
			<div class="navbar__right__des-btns">
				<button class="navbar__btn">Invite</button>
				<button class="navbar__btn">Help</button>
				<button class="navbar__btn navbar__btn--raduis">End</button>
			</div>
			<span class="navbar__right__mob-btns">
				<button class="navbar__btn" @click="toggleDropdown('collapse')">Options<i class="btn__icon fas fa-caret-down fa-xs"></i></button>
				<Dropdown v-if="isDropdown('collapse')" v-click-outside="closeDropdown">
					<NavCollapseDD></NavCollapseDD>
				</Dropdown>
			</span>
			<button class="navbar__btn" @click="toggleMessanger"><i class="fas fa-comments"></i></button>
		</div>
	</div>
</template>

<script>
	import NavToolbar from '@/components/NavToolbar';
	import Dropdown from '@/components/Dropdown';
	import NavCollapseDD from '@/components/dropdowns/NavCollapseDD';
	import dropdown from '@/mixins/dropdown'
	export default {
		mixins: [dropdown],
		components: {
			NavToolbar,
			Dropdown,
			NavCollapseDD,
		},
		methods: {
			toggleMessanger(){
				this.$store.commit('toggleMessanger')
			}
		}
	}
</script>

<style lang="scss">
@import '../assets/sass/session-navbar';
</style>