<template>
	<div class="session-controller">
		<div class="left-controller">
			<div class="pagination">
				<button class="pagination-item controller-btn"><img src="@/assets/icons/leftarrow.svg"></button>
				<span class="relative pagination-item page">
					<button class="controller-btn" @click="toggleDropdown('clear')"><span class="page-title">page {{page}}</span><i class="fas fa-caret-up"></i></button>
					<Dropdown arrow="down" v-if="isDropdown('clear')" v-click-outside="closeDropdown">
						<PaginationDD v-model="page" @close="closeDropdown"></PaginationDD>
					</Dropdown>
				</span>
				<button class="pagination-item controller-btn"><img src="@/assets/icons/rightarrow.svg"></button>
			</div>
			<button class="controller-btn"><img src="@/assets/icons/addpage.svg"></button>
		</div>
		<div class="right-controller">
			<button class="controller-btn"><img src="@/assets/icons/hand.svg"></button>
			<div class="zooming">
				<button class="controller-btn"><img src="@/assets/icons/zoomout.svg"></button>
				<span class="zooming-percentage">100%</span>
				<button class="controller-btn"><img src="@/assets/icons/zoomin.svg"></button>
			</div>
		</div>
	</div>
</template>

<script>
	import Dropdown from '@/components/Dropdown';
	import PaginationDD from '@/components/dropdowns/PaginationDD';
	import dropdown from '@/mixins/dropdown'
	export default {
		mixins: [dropdown],
		components: {
			Dropdown,
			PaginationDD,
		},
		data: () => ({
			page: 1
		})
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/session-controller';
</style>