<template>
	<div class="side-toolbar" v-bar>
		<div class="scrollbar-child">
			<div class="toolbar__groups">
				<div class="toolbar__group">
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/upload.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/open.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/save.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/trash.svg"></button>
				</div>
				<div class="toolbar__group">
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/undo.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/redo.svg"></button>
				</div>
				<div class="toolbar__group">
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/select.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/crop.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/copy.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/cut.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/paste.svg"></button>
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="toggleDropdown('clear')"><img class="btn__m-icon" src="@/assets/icons/erase.svg"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Dropdown arrow="left" v-if="isDropdown('clear')" v-click-outside="closeDropdown" v-offset><button class="clear-page-btn">Clear page</button></Dropdown>
					</span>
				</div>
				<div class="toolbar__group">
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="toggleDropdown('typography')"><img class="btn__m-icon" src="@/assets/icons/edit.svg"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Dropdown arrow="left" v-if="isDropdown('typography')" v-click-outside="closeDropdown" v-offset><TypographyDD></TypographyDD></Dropdown>
					</span>
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="toggleDropdown('brush')"><img class="btn__m-icon" src="@/assets/icons/marker.svg"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Dropdown arrow="left" v-if="isDropdown('brush')" v-click-outside="closeDropdown" v-offset><TypographyDD></TypographyDD></Dropdown>
					</span>
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="toggleDropdown('another')"><img class="btn__m-icon" src="@/assets/icons/text.svg"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Dropdown arrow="left" v-if="isDropdown('another')" v-click-outside="closeDropdown" v-offset><TypographyDD></TypographyDD></Dropdown>
					</span>
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="editor = true"><img class="btn__m-icon" src="@/assets/icons/symbol.png"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Overlay class="math-editor" v-if="editor"><EquationEditorDD v-click-outside="close"></EquationEditorDD></Overlay>
					</span>
				</div>
				<div class="toolbar__group" v-for="i in 1">
					<span class="toolbar__item">
						<button class="toolbar__btn" @click="toggleDropdown('pattern')"><img class="btn__m-icon" src="@/assets/icons/grid-on.svg"><i class="fas fa-caret-right fa-xs btn__s-icon"></i></button>
						<Dropdown arrow="left" v-if="isDropdown('pattern')" v-click-outside="closeDropdown" v-offset><PatternsDD></PatternsDD></Dropdown>
					</span>
				</div>
				<div class="toolbar__group">
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/print.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/record.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/share.svg"></button>
					<button class="toolbar__btn toolbar__item"><img class="btn__m-icon" src="@/assets/icons/youtube.svg"></button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Dropdown from '@/components/Dropdown';
	import Overlay from '@/components/Overlay';
	import TypographyDD from '@/components/dropdowns/TypographyDD';
	import PatternsDD from '@/components/dropdowns/PatternsDD';
	import EquationEditorDD from '@/components/dropdowns/EquationEditorDD';
	import dropdown from '@/mixins/dropdown'
	export default {
		mixins: [dropdown],
		components: {
			Dropdown,
			TypographyDD,
			PatternsDD,
			EquationEditorDD,
			Overlay,
		},
		data: () => ({
			editor: false
		}),
		methods: {
			close(){
				this.editor = false
			}
		}
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/side-toolbar';
</style>