<template>
	<div class="signup-header">
		<span class="header__title"><slot name="headerTitle"></slot></span>
		<slot name="headerStepper"></slot>
	</div>
</template>

<style lang="scss">
@import '../assets/sass/signup-header';
</style>