<template>
	<ul class="stepper">
		<li class="stepper__step" :class="{'passed': i < active  ,'active': active === i}"  v-for="(step , i) in steps">
			<span class="stepper__step-details">
				<span class="stepper__step-icon">
					<i class="stepper__step-inner fas" :class="step.icon"></i>
					<span class="stepper__step-check"><i class="fas fa-check"></i></span>
				</span>
				<span class="stepper__step-name">{{step.title}}</span>
			</span>
			<span class="stepper__step-bridge"></span>
		</li>
	</ul>
</template>

<script>
	export default {
		props: ['active'],
		data: () => ({
			steps: [
			{title: 'Personal Detail' , icon: 'fa-user'},
			{title: 'Qualifications' , icon: 'fa-file-invoice'},
			{title: 'Tutoring Subjects' , icon: 'fa-book'},
			{title: 'Get Paid' , icon: 'fa-credit-card'},
			]
		})
	}
</script>

<style lang="scss">
@import '../assets/sass/stepper';
</style>