<template>
	<table>
		<tr>
			<th></th>
			<th v-for="day in days">{{day}}</th>
		</tr>
		<tr v-for="days , time  in times">
			<th>{{time}}</th>
			<td v-for="value , day in days" @click.prevent="days[day] = !days[day]" :class="{'selected' : days[day]}">
				<i class="fas fa-check"></i>
			</td>
		</tr>
	</table>
</template>

<script>
	export default {
		data: () => ({
			days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			times: {  
				morning: {Mon: false, Tue: true, Wed: false, Thu: false, Fri: false, Sat: false, Sun: false},
				afternoon: {Mon: false, Tue: false, Wed: true, Thu: false, Fri: false, Sat: false, Sun: false},
				evening: {Mon: false, Tue: true, Wed: true, Thu: false, Fri: false, Sat: false, Sun: false},
			}
		})
	}
</script>

<style lang="scss" scoped>
@import '../assets/sass/table';
</style>

