<template>
	<el-form label-position="top">
		<div class="section">
			<div class="section-title">What subject would you like to teach?</div>
			<el-row :gutter="20">
				<el-col :span="11" >
					<el-form-item label="Subject">
						<el-select v-model="value" placeholder="Math, English…">
							<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :sm="5" :xs="12">
					<el-form-item label="Level">
						<el-input placeholder="GCSE"></el-input>
					</el-form-item>
				</el-col>
				<el-col :sm="8" :xs="12">
					<el-form-item label="Price">
						<el-input placeholder="AED 30"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
			<button class="add-btn"><i class="btn__icon fas fa-plus-circle"></i><span class="btn__text">Add Subject</span></button>
		</div>
		<hr class="spacer">
		<div class="section">
			<div class="section-title">General Availability</div>
			<Table></Table>
		</div>
		<hr class="spacer">
		<div class="section">
			<div class="section-title">How many language do you speak: English / Arabic / Mandarine</div>
			<el-row :gutter="20">
				<el-col :span="25" >
					<el-input placeholder="AED 30"></el-input>
				</el-col>
			</el-row>
		</div>
	</el-form>
</template>

<style scoped>
.section {
	margin-bottom: 40px;
}
</style>

<script>
	import Table from './Table';
	export default {
		components: {
			Table,
		},
		data: () => ({
			gender: '',
			options: [{
				value: 'Math',
				label: 'Math'
			}, {
				value: 'English',
				label: 'English'
			}, {
				value: 'Physics',
				label: 'Physics'
			}, {
				value: 'Chemisrty',
				label: 'Chemisrty'
			}, {
				value: 'History',
				label: 'History'
			}],
			value: '',
		}),
	}
</script>