<template>
	<div class="equation-editor-dd">
		<div class="header"><span>Equation editor</span></div>
		<div class="container">
			<div class="section selectors">
				<div class="tabs">
					<button class="tab-btn selected">Math</button>
					<button class="tab-btn">Greek</button>
					<button class="tab-btn">Relations</button>
					<button class="tab-btn">Logic</button>
					<button class="tab-btn">Symbols</button>
					<button class="tab-btn">Arrows</button>
				</div>
				<div class="formating-area"></div>
			</div>
			<div class="section preview">
				<span class="title">Preview:</span>
				<div class="formating-area"></div>
			</div>
			<form>
				<span class="title">Enter TeX expression:</span>
				<input placeholder="e^-2x/2" type="text" class="input">
				<button class="submit-btn">Add</button>
			</form>
		</div>
	</div>
</template>

<style lang="scss">
@import '../../assets/sass//dropdowns/equation-editor-dd';
</style>