<template>
	<div>
		<div class="links">
			<button class="btn">invite</button>
			<button class="btn">Help</button>
			<button class="btn">End</button>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.links {
	display: flex;
	flex-direction: column;
}
.btn {
	padding: 10px 14px;
	padding-right: 30px;
	justify-content: unset;
	&:hover {
		color: #333;
	}
}
</style>