<template>
	<div>
		<div class="links">
			<button class="btn" @click="go(1)">page 1</button>
			<button class="btn" @click="go(2)">page 2</button>
			<button class="btn" @click="go(3)">page 3</button>
			<button class="btn" @click="go(4)">page 4</button>
		</div>
	</div>
</template>

<script>
	export default {
		methods: {
			go(page){
				this.$emit('input' , page)
				this.$emit('close')
			}
		}
	}
</script>

<style lang="scss" scoped>
.links {
	display: flex;
	flex-direction: column;
}
.btn {
	padding: 10px 14px;
	padding-right: 30px;
	justify-content: unset;
	&:hover {
		color: #333;
	}
}
</style>