<template>
	<div>
		<div class="patterns">
			<button class="pattern-btn" @click="select('square')" :class="is('square')">
				<span class="shape">
					<img src="@/assets/icons/square.png" class="square">
					<img src="@/assets/icons/tick.svg" class="check-icon">
				</span>
				<span class="name">Square</span>
			</button>
			<button class="pattern-btn" @click="select('dots')" :class="is('dots')">
				<span class="shape">
					<img src="@/assets/icons/dots.png" class="dots">
					<img src="@/assets/icons/tick.svg" class="check-icon">
				</span>
				<span class="name">Dots</span>
			</button>
			<button class="pattern-btn" @click="select('rules')" :class="is('rules')">
				<span class="shape">
					<img src="@/assets/icons/rules.png" class="rules">
					<img src="@/assets/icons/tick.svg" class="check-icon">
				</span>
				<span class="name">Rules</span>
			</button>
			<button class="pattern-btn" @click="select('none')" :class="is('none')">
				<span class="shape none">
					<img src="@/assets/icons/tick.svg" class="check-icon">
				</span>
				<span class="name">None</span>
			</button>
		</div>
	</div>
</template>

<script>
	import select from '@/mixins/select'
	export default {
		mixins: [select]
	}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/dropdowns/patterns-dd';
</style>