<template>
	<div>
		<div class="typography-items">
			<button class="more-btn"><img src="@/assets/icons/down-arrow.svg"></button>
			<div class="typography-item">
				<div class="top">
					<div class="colors">
						<button :class="is('color.black')" @click="select('color.black')"><span class="color black"></span></button>
						<button :class="is('color.red')" @click="select('color.red')"><span class="color red"></span></button>	
						<button :class="is('color.orange')" @click="select('color.orange')"><span class="color orange"></span></button>
						<button :class="is('color.green')" @click="select('color.green')"><span class="color green"></span></button>
						<button :class="is('color.blue')" @click="select('color.blue')"><span class="color blue"></span></button>
						<button :class="is('color.purple')" @click="select('color.purple')"><span class="color purple"></span></button>
						<button :class="is('color.brouwn')" @click="select('color.brouwn')"><span class="color brouwn"></span></button>
					</div>
				</div>
			</div>
			<div class="typography-item">
				<div class="fonts"></div>
			</div>
			<div class="typography-item">
				<div class="sizes">
					<button :class="is('size.xxs')" @click="select('size.xxs')"><span class="size xxs"></span></button>
					<button :class="is('size.xs')" @click="select('size.xs')"><span class="size xs"></span></button>
					<button :class="is('size.s')" @click="select('size.s')"><span class="size s"></span></button>
					<button :class="is('size.md')" @click="select('size.md')"><span class="size md"></span></button>
					<button :class="is('size.lg')" @click="select('size.lg')"><span class="size lg"></span></button>
					<button :class="is('size.xlg')" @click="select('size.xlg')"><span class="size xlg"></span></button>
					<button :class="is('size.xxlg')" @click="select('size.xxlg')"><span class="size xxlg"></span></button>
					<button :class="is('size.xxxlg')" @click="select('size.xxxlg')"><span class="size xxxlg"></span></button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import select from '@/mixins/select'
	export default {
		mixins: [select]
	}
</script>

<style lang="scss" scoped>
@import '../../assets/sass/dropdowns/typography-dd';
</style>