@import './colors';
.chat-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: .8rem;
}
.messages-container {
	flex-grow: 1;
	height: 0;
	overflow: auto;
}
.messages {
	display: flex;
	flex-direction: column;
	padding: 20px;
	& > :last-child {
		margin-bottom: 0;
	}
}
.message {
	display: flex;
	align-items: start;
	margin-bottom: 24px;
}
.message.owner {
	.text-container {
		background-color: #e7e9ea;
	}
	.arrow {
		color: #e7e9ea;
		left: -8px;
	}
	.avatar {
		// background: url(http://www.uvvg.ro/site/wp-content/uploads/2016/01/Universitatea-de-vest-vasile-goldis-din-arad-STUDENTI.jpg);
		background: url(https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg);
		margin-right: 14px;
	}
}
.message.guest {
	margin-left: auto;
	.text-container {
		background-color: #f6f9fc;
	}
	.arrow {
		color: #f6f9fc;
		right: -8px;
	}
	.avatar {
		background: url(https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg);
		margin-left: 14px;
	}
}
.avatar {
	border-radius: 4px;
	background-size: cover !important;
	background-position: center !important;
	min-width: 36px;
	min-height: 36px;
}
.text-container {
	position: relative;
	padding: 15px;
	border-radius: 4px;
	line-height: 1.2;
	word-spacing: 1.4px;
	.arrow {
		position: absolute;
		top: 5px;
	}
	.name {
		color: #444;
		margin-right: 4px;
		font-size: .95em;
	}
	.text {
		color: #999;
		font-size: .9em;
	}
}
.messages-constructor {
	display: flex;
	align-items: center;
	background-color: #fafbfc;
	padding: 10px;
	min-height: fit-content;
	.input {
		margin: 0 10px;
		max-height: 120px;
		height: 20px;
	}
	.imo-btn {
		@extend %img-hover;
	}
}
@media (max-width: 960px) {
	.messages {
		padding: 12px;
	}
	.text-container {
		padding: 10px;
	}
	.messages-constructor {
		padding: 6px 8px;
		.imo-btn {
			img {
				width: 22px;
			}
		}
		.input {
			padding: 5px;
			min-height: 25px;
		}
		.submit-btn {
			padding: 6px 16px;
		}
	}
}