.dropdown {
	position: absolute;
	z-index: 2;
	color: #727072;
	& > :first-child {
		background-color: white;
		border-radius: 5px;
		border: solid 1px #d5d4db;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
	}
}
.arrow {
	position: absolute;
	color: white;
}
.arrow.up {
	top: -9px;
	right: calc(50% - 13.344px /2);
	text-shadow: 0 -1px 0px #b9b7bd;
}
.arrow.down {
	bottom: -9px;
	right: calc(50% - 13.344px /2);
	text-shadow: 0 1px 0px #b9b7bd;
}