.footer {
	display: flex;
	justify-content: center;
	padding: 0 30px;
	background-color: #222642;
	color: #61678C;
	@media (max-width: 980px) {
		.footer__list {
			width: (100% / 2);
			text-align: center;
		}
	}
	@media (max-width: 570px) {
		padding: 0 16px;
		.footer__list {
			width: (100% / 1);
		}
	}
}
.footer__elem1 {
	display: flex;
	flex-direction: column;
	width: 1220px;
}
.footer__lists {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-bottom: 10px;
}
.footer__list {
	width: (100% / 4);
	margin-bottom: 30px;
}
.footer__list__title {
	color: #A7ADD8;
	margin-bottom: 2px;
	font-weight: bold;
}
.footer__list__links__item {
	margin-top: 12px;
}
.footer__break {
	border-color: #61678C;
	margin: 20px 0;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.footer__copyright {
	display: initial;
	margin-right: 42px;
	margin-bottom: 8px;
}
.footer__copright__icon {
	margin-right: 4px;
}
.footer__bottom__links {
	display: flex;
	flex-wrap: wrap;
}
.footer__bottom__links__item {
	margin-right: 24px;
	margin-bottom: 8px;
	&:last-child {
		margin-right: 0;
	}
}
.footer__link:hover {
	color: lighten(#61678C, 30%);
}