@import './colors';
.group-container {
	flex-grow: 1;
	height: 0;
	overflow: auto;
}
.group {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	padding-bottom: 0;
}
.group-member {
	background: url(https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	width: calc(50% - 10px);
	height: 120px;
	border: solid 1px #979797;
	margin: 0 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.btn {
	@extend %img-hover;
	position: absolute;
	margin: 4px;
	padding: 2px;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 50%;
	&.voice {
		left: 0;
	}
	&.video {
		right: 0;
	}
}
@media (max-width: 960px) {
	.group-member {
		width: 160px;
	}
}