@import './colors';
.messanger-container {
	display: flex;
	flex-direction: column;
	width: 346px;
	border-left: 1px solid #e7e9ea;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
	background-color: white;
	&.expanded {
		flex-direction: row;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: unset;
		.video-view {
			flex-grow: 1;
			height: 100%;
		}
		.col-2 {
			order: -1;
			flex-grow: unset;
			width: 346px;
		}
	}
}
.col-2 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
.video-view {
	position: relative;
	height: 260px;
}
.messanger-expand-btn {
	@extend %img-hover;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	margin: 5px;
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
.primary, .secondary {
	background-size: cover !important;
	background-position: center !important;
}
.primary {
	height: 100%;
	background: url(../assets/imgs/primary.jpg);
}
.secondary {
	background: url(../assets/imgs/secondary.jpg);
	position: absolute;
	right: 17px;
	bottom: 17px;
	width: 116px;
	height: 90px;
	border: 1px solid #979797;
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
.calls-controller {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 2px 2px 0 rgba(153, 150, 171, 0.18);
	background-color: #fafbfc;
	padding: 12px 15px;
	min-height: fit-content;
}
.item-controller {
	flex-grow: 1;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid #d5d4db;
}
.controller-btn {
	&:hover{
		filter: brightness(.9)
	}
}
.controller-btn.sound, .controller-btn.mic {
	margin-right: 14px;
}
.slider {
	flex-grow: 1;
}
/deep/ .el-slider__button-wrapper {
	z-index: unset;
}
/deep/ .el-slider__runway {
	margin: 0;
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
.messanger-navigator {
	display: flex;
	background-color: #eaeef3;
}
.navigator-btn {
	flex-grow: 1;
	padding: 12px;
	&.selected {
		filter: brightness(.4);
		background-color: rgba(0, 0, 0, .1);
	}
}
////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 960px) {
	.messanger-container {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: unset;
	}
	.messanger-expand-btn {
		display: none;
	}
	.messanger-container {
	}
	.calls-controller {
		padding: 8px 12px;
	}
	/deep/ .el-slider__button {
		width: 12px;
		height: 12px;
	}
	.controller-btn {
		img {
			width: 20px;
		}
	}
	.navigator-btn {
		padding: 8px;
		img {
			width: 16px;
		}
	}
}
@media (max-width: 480px) {
	.video-view {
		height: 160px;
	}
	.secondary {
		right: 6px;
		bottom: 6px;
		width: 80px;
		height: 60px;
	}
}
@media only screen and (max-width: 960px) and (orientation: landscape) {
	.messanger-container {
		flex-direction: row;
	}
	.video-view {
		flex-grow: 1;
		height: 100%;
	}
	.primary {
		height: 50%;
	}
	.secondary {
		height: 50%;
		position: initial;
		right: unset;
		bottom: unset;
		width: unset;
	}
	.col-2 {
		order: -1;
		flex-grow: unset;
		width: 60%;
	}
}