.nav-toolbar {
	display: flex;
	margin-left: 15px;
	border-left: 1px solid #67a7ef;
	@media (max-width: 1365px) {
		display: none;
	}
	.toolbar__group {
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid #67a7ef;
	}
	.toolbar__item {
		margin: 6px 6px;
	}
	.toolbar__btn {
		transition: .1s;
		.btn__icon {
			color: #8dbdf3;
			margin-left: 3px;
		}
		&:hover {
			filter: brightness(35%);
		}
	}
	.dropdown {
		min-width: max-content;
		top: calc(100% + 10px);
	}
	.clear-page-btn {
		padding: 10px;
		color: #727072;
		font-size: .7rem;
		&:hover {
			color: #333;
		}
	}
}