.navbar {
	display: flex;
	justify-content: space-between;
	padding: 18px 42px;
	background-color: #4386FC;
	&.traped {
		margin-bottom: -18px;
		background: linear-gradient(to right , #196DDD , #0EBEFA);
	}
	@media (max-width: 560px) {
		padding: 18px 25px;
	}
	@media (max-width: 490px) {
		display: initial;
		text-align: center;
		.navbar__left {
			margin-bottom: 18px;
		}
	}
}
.navbar__btn {
	color: white;
}
.navbar__right .navbar__btn {
	border-radius: 18px;
	padding: 8px 16px;
	margin-left: 8px;
	transition: 0.2s;
	&:hover {
		background-color: rgba(0,0,0,.5)
	}
}
.navbar__btn--raduis {
	border: solid 1px;
	&:hover {
		border-color: transparent;
	}
}
.navbar__btn--brand .btn__icon{
	width: 34px;
	margin-right: 12px;
}
