body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&>:first-child {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
.input {
	width: 100%;
	border: solid 1px #e4e8ea;
	border-radius: 3px;
	padding: 8px;
	box-sizing: border-box;
	resize: vertical;
}
.submit-btn {
	background-color: #4192ec;
	border-radius: 2px;
	color: white;
	padding: 10px 16px;
	transition: 0.2s;
	&:hover {
		background-color: darken(#4192ec, 8%)
	}
}
.relative {
	position: relative;
}