@import './colors';
.session-controller {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 14px 30px;
	padding-top: 0;
	color: #9996ab;
	background-color: #f9fbfd;
}
.left-controller, .right-controller {
	display: flex;
	margin-top: 14px;
}
.left-controller {
	margin-right: 34px;
}
.pagination, .zooming {
	display: flex;
}
.pagination {
	margin-right: 22px;
}
.zooming {
	margin-left: 18px;
}
.zooming-percentage {
	margin: 0 12px;
}
.page-title {
	margin-right: 6px;
}
.pagination-item.relative {
	position: relative;
}
.pagination-item.page {
	margin: 0 12px;
}
.dropdown {
	width: max-content;
	bottom: calc(100% + 15px);
}
.controller-btn {
	@extend %img-hover;
}
@media (max-width: 960px) {
	.session-controller {
		padding: 8px 12px;
		padding-top: 0;
	}
	.left-controller, .pagination {
		margin-right: 12px;
	}
	.zooming {
		margin-left: 12px;
	}
	.controller-btn {
		img {
			width: 16px;
		}
	}
}