.session-navbar {
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #4192ec;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
	padding: 12px 0;
	.navbar__btn--brand {
		font-size: 1.1rem;
		letter-spacing: 1px;
		margin: 0 20px;
	}
	.navbar__right .navbar__btn {
		margin: 0 15px;
	}
	.navbar__left, .navbar__right {
		display: flex;
		align-items: center;
	}
	.navbar__btn {
		color: white;
		transition: .1s;
		&:hover {
			color: #002752;
		}
	}
	.navbar__btn--raduis {
		margin: auto 0;
		padding: 6px 30px;
		border: solid 1px #ffffff;
		border-radius: 18px;
		&:hover {
			background-color: white;
			color: #409eff;
		}
	}
	.navbar__right {
		.dropdown {
			width: max-content;
			top: 100%;
		}
	}
	.navbar__right__mob-btns .navbar__btn .btn__icon {
		margin-left: 6px;
	}
	@media (max-width: 960px) {
		.navbar__right__des-btns {
			display: none;
		}
	}
	@media (min-width: 960px) {
		.navbar__right__mob-btns {
			display: none;
		}
	}
}