.session-view {
	.wrapper {
		display: flex;
		flex-grow: 1;
		height: 0;
	}
	.wrapper__layout1 {
		display: flex;
		flex-grow: 1;
		width: 0;
		position: relative;
	}
	.wrapper__layout2 {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.wrapper__layout3 {
		flex-grow: 1;
		height: 0;
	}
}