.side-toolbar {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	border-right: 1px solid #d6d9da;
	box-sizing: border-box;
	width: 50px;
	@media (min-width: 1365px) {
		&, .math-editor.overlay {
			display: none;
		}
	}
	@media (max-width: 960px) {
		width: 40px;
		.toolbar__btn .btn__m-icon {
			width: 20px;
		}
	}
	.toolbar__groups {
		padding: 6px;
	}
	.toolbar__group {
		display: flex;
		flex-direction: column;
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: 1px solid #67a7ef;
		min-height: fit-content;
	}
	.toolbar__item {
		margin: 7px 0;
	}
	.toolbar__btn {
		transition: .2s all;
		&:hover {
			filter: brightness(35%);
		}
	}
	.btn__s-icon {
		color: #8dbdf3;
		margin-left: 3px;
	}
	.dropdown {
		position: fixed;
		margin-right: 15px;
	}
	.clear-page-btn {
		padding: 10px;
		color: #727072;
		font-size: .7rem;
		&:hover {
			color: #333;
		}
	}
	.math-editor.overlay {
		& > :first-child {
			width: max-content;
		}
	}
}