.signup-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to right , #196DDD , #0EBEFA);
	padding: 0 20px;
	color: white;
	.header__title {
		margin: 100px 0;
		font-size: 2.5rem;
	}
}
