.stepper {
	display: flex;
	color: #222642;
	margin-bottom: -32px;
	@media (max-width: 940px) {
		margin-bottom: -22px;
		.stepper__step-bridge {
			width: 135px;
		}
		.stepper__step-icon {
			width: 40px;
			height: 40px;
		}
		.stepper__step-check {
			width: 14px;
			height: 14px;
			font-size: .5rem;
		}
	}	
	@media (max-width: 760px) {
		.stepper__step-bridge {
			width: 100px;
		}
	}
	@media (max-width: 640px) {
		.stepper__step-name {
			font-size: .8rem;
			margin-top: 10px;
		}
		.stepper__step-inner {
			font-size: .9rem;
		}
	}
	@media (max-width: 600px) {
		.stepper__step-bridge {
			width: 70px;
		}
		.stepper__step-name {
			font-size: .7rem;
			font-weight: bold;
		}
	}
	@media (max-width: 480px) {
		.stepper__step-bridge {
			width: 65px;
		}
		.stepper__step-inner {
			font-size: .8rem;
		}
		.stepper__step-name {
			font-size: .6rem;
		}
	}
	@media (max-width: 440px) {
		.stepper__step-bridge {
			width: 35px;
		}
	}
}
.stepper__step {
	display: inline-flex;
	align-items: center;
	&:last-child .stepper__step-bridge {
		display: none !important;
	}
	&.passed {
		.stepper__step-bridge {
			background-color: #222642;
		}
		.stepper__step-check {
			display: inline-flex;
		}
	}
	&.active, &.passed {
		.stepper__step-icon {
			color: white;
			background-color: #222642;
		}
		.stepper__step-inner {
			color: white;
		}
	}
}
.stepper__step-details {
	flex-direction: column;
	position: relative;
}
.stepper__step-name {
	position: absolute;
	top: 100%;
	margin-top: 12px;
	white-space: nowrap;
}
.stepper__step-icon {
	position: relative;
	background-color: #DFE0E9;
	border-radius: 50%;
	border: 3px solid white;
	width: 55px;
	height: 55px;
}
.stepper__step-bridge {
	padding: 2px 0;
	background-color: #DFE0E9;
	width: 160px;
}
.stepper__step-check {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	border-radius: 50%;
	color: #2BFF5C;
	font-size: .7rem;
	width: 20px;
	height: 20px;
}