table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
	@media (max-width: 590px) {
		td, th {
			height: 35px;
		}
	}
	@media (max-width: 570px) {
		td, th {
			height: 30px;
		}
		th {
			font-size: .9rem;
			width: 12%;
		}
		td {
			font-size: .8rem;
		}
	}
}
th {
	color: #222642;
}
td {
	background-color: #F5F9FC;
	color: #03F803;
	text-align: center;
	cursor: pointer;
	i {
		display: none;
	}
	&.selected {
		background-color: white;
		i {
			display: initial;
		}
	}
}
td, th {
	border: 1px solid #DFE0E9;
	width: 48px;
	height: 48px;
	box-sizing: border-box;
}