.tutor-signup_view {
	> * {
		min-height: max-content;
	}
	.content {
		flex-grow: 1;
		padding: 0 20px;
		margin-bottom: 140px;
		> :first-child {
			max-width: 840px;
			margin: 0 auto;
		}
	}
	.el-input {
		width: 100% !important;
	}
	.el-form-item .el-form-item__label{
		line-height: 20px;
	}
	.section {
		margin-bottom: 20px;
	}
	.el-row {
		margin-top: 30px;
	}
	.el-select {
		display: block;
	}
	.spacer {
		margin-bottom: 30px;
		border-color: #DFE0E9;
	}
	.section-title {
		color: #2B9EFF;
		font-weight: bold;
		margin-bottom: 16px;
	}
	.section-description {
		color: #222642;
	}
	.add-btn {
		display: block;
		margin-top: 12px;
		.btn__icon {
			color: #2B9EFF;
			margin-right: 6px;
		}
		.icon__text {
			color: #222642;
		}
	}
	.el-dialog {
		width: unset !important;
		max-width: 600px;
	}
	.el-dialog__body {
		padding: 40px;
		padding-top: 20px;
	}
}
.signup-header {
	margin-bottom: 120px;
	@media (max-width: 940px) {
		margin-bottom: 100px;
	}
	@media (max-width: 640px) {
		margin-bottom: 90px;
	}
}